<p *ngIf="!($fbPost | async)">loading posts...</p>
 <mat-accordion>
         <mat-expansion-panel *ngFor = "let fbPost of $fbPost | async">
           <mat-expansion-panel-header>
             <mat-panel-title>
               {{fbPost.title}}
             </mat-panel-title>
           </mat-expansion-panel-header > 
           {{fbPost.body}}
           <button mat-button (click) = "addLikes()">LIKE {{this.likes}}</button>
         </mat-expansion-panel>
   </mat-accordion>