.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: papayawhip;
}

.mat-toolbar.mat-primary {
  background:peachpuff;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

 div {
  padding-left: 80%;
  } 

.whitelink{
color:white;
text-decoration: none;
cursor: pointer;
margin-right: 10px;
}
