<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list *ngIf = "(authService.user | async)?.uid">
      <a mat-list-item routerLink="/posts">Blog posts</a>
      <a mat-list-item routerLink="/savedpost">Saved posts</a>
      <!-- <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>exam2020</span> -->
      <div>
        <a class = "whitelink" routerLink="/signup" *ngIf = "!(authService.user | async)?.uid" >SignUp</a> <br>
        <a class = "whitelink" routerLink="/login" *ngIf = "!(authService.user | async)?.uid" >Login</a>         
        <a class = "whitelink" *ngIf  = "(authService.user | async)?.uid" (click) = "authService.Logout()"> Logout </a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
