<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of Posts$">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{post.title}}
            </mat-panel-title>
          </mat-expansion-panel-header> 
           {{post.body}} 
          <button mat-raised-button color="primary" (click)="postsFunction()">Save </button>
           
        </mat-expansion-panel>
  </mat-accordion>